doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/deja.css')
		link(rel='stylesheet', href='/css/twitter.css')
		script(src='js/ga.js')
	body
		.wrapper
			block content
			script(src='http://code.jquery.com/jquery-latest.js')
			script(src='js/bootstrap.min.js')
			script(src='js/deja.js')
			.push
		.footer
			p &copy; Chris Pinola 2012